<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_paw_secure_beta"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo_paw_secure_beta"
        android:supportsRtl="true"
        android:theme="@style/Theme.PawSecure"
        tools:targetApi="31">
        <activity
            android:name=".view.PetActivity"
            android:exported="false" />
        <activity
            android:name=".view.CreatePetActivity"
            android:exported="false" />
        <activity
            android:name=".view.ChooseActivity"
            android:exported="false" />
        <activity
            android:name=".view.NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.ActivateActivity"
            android:exported="false" />
        <activity
            android:name=".view.NexusActivity"
            android:exported="false" />
        <activity
            android:name=".view.EmailActivity"
            android:exported="false" />
        <activity
            android:name=".view.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>